@media only screen and (max-width: 700px) {
  Body {
    background-color: black;
  }
  .HeaderSpot {
    margin: 4px;
    background-color: black;
    border-color: black;
    border: solid;
  }

  .entireThing {
    margin: 0px;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  button:focus {
    outline: none;
  }

  .App {
    text-align: center;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  .b1 {
    border: none;
    background-color: black;
    color: black;
    padding: 0;

    height: 8px;
    margin: 0px;
    text-align: center;
    width: 8px;
  }

  .bplus {
    border: none;
    background-color: grey;
    color: black;
    padding: 0;
    height: 8px;
    margin: 0px;
    text-align: center;
    width: 8px;
  }

  .green {
    border: none;
    background-color: lightgreen;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  #largebutton {
    height: 25px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    color: white;
    background-color: rgb(68, 68, 68);
  }

  .largebutton {
    height: 25px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    background-color: rgb(0, 255, 255);
  }

  .regbutton {
    height: 25px;
    width: 15px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 5;
    background-color: rgb(0, 255, 255);
  }

  .orange {
    border: none;
    background-color: rgb(255, 0, 200);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange2 {
    border: none;
    background-color: rgb(234, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange2 {
    border: none;
    background-color: rgb(162, 0, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange3 {
    border: none;
    background-color: rgb(0, 17, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange4 {
    border: none;
    background-color: rgb(0, 217, 255);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange5 {
    border: none;
    background-color: rgb(72, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange6 {
    border: none;
    background-color: rgb(251, 255, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange7 {
    border: none;
    background-color: rgb(255, 124, 2);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .orange8 {
    border: none;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .lightorange {
    border: none;
    background-color: rgb(250, 218, 158);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .blue {
    border: none;
    background-color: blue;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .slider {
    text-align: center;
    margin: 20px;
    align-content: center;
  }

  .icon {
    border: none;
    background-color: grey;
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 8px;
    text-align: center;
    width: 8px;
  }

  .bgrey {
    border: none;
    background-color: rgba(107, 105, 107, 0);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 50px;
    text-align: center;
    width: 50px;
  }

  .bdirection {
    border: none;
    background-color: rgba(0, 255, 21, 0.397);
    color: white;
    padding: 0;
    font-size: 5px;
    margin: 0px;
    height: 50px;
    text-align: center;
    width: 50px;
    z-index: 1;
  }

  .directionLand {
    position: fixed;
  }

  #explanation {
    font-size: 12px;
    text-align: center;
    border-radius: 35px;
    border: solid;
    border-width: 4px;
    color: white;
    background-color: rgb(107, 105, 107);
    height: 90%;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  #divinside {
    margin: 50%;
  }
  img {
    height: 100%;
    width: 100%;
  }

  o {
    max-height: 10px !important;
    max-width: 10px !important;
    min-height: 8px !important;
    min-width: 8px !important;
  }

  span {
    max-height: 10px !important;
    max-width: 10px !important;
    min-height: 8px !important;
    min-width: 8px !important;
  }

  #spinningadventure {
    height: 25px;
    width: 25px;

    text-align: left;
    align-items: left;
  }
  #spinwrap {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 800;
    text-align: left;
    align-items: left;
  }
  #loading {
    color: rgb(72, 255, 0);
    font-size: 12px;
    text-align: center;
  }
  #scoreDisplay {
    color: rgb(251, 255, 0);
    font-size: 12px;
    text-align: left;
    padding: 15;
  }

  #endDisplay {
    color: rgb(251, 255, 0);
    font-size: 12px;
    text-align: left;
  }
  #clocktime {
    color: rgb(234, 0, 255);
  }
  .newLine {
    height: 8px;
  }
  #nameT {
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: left;
  }

  #more {
    text-align: center;
    margin: 20px;
    padding: 10px;
  }
  #topinfo {
    background-color: rgba(128, 128, 128, 0.13);
    width: 50%;
    margin: 0px;
    padding: 0px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  #topinfo:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  a:hover {
    color: white;
    font-size: 18px;
  }

  a:visited {
    color: white;
    font-size: 18px;
  }

  a:active {
    color: white;
    font-size: 18px;
  }
}
